@media only screen and (min-width: 900px) {
  body {
    margin: 0% 10% 0% 10%;
  }

  #site-header {
    padding: 0;
    margin: 1% 1% 0% 1%;
    border: solid white;
    overflow: auto;
  }

  #main-title {
    display: inline-block;
    float: left;
    padding: 1em;
    margin: 0;
    width: 25%;
    font-size: 125%;
  }

  #main-nav {
    float: right;
    width: 65%;
  }

  #main-title, #main-nav {
    padding-bottom: 100%;
    margin-bottom: -100%;
  }

  #main-nav ul li {
    margin: 0% 1% 0% 1%;
    padding: 0% 1% 0% 1%;

  }

  .blogColumn {
    float: left;
    width: 44%;
    margin-left: 3%;
  }

  #filters select {
    width: 60%;
    margin: 0% 5% 0% 5%;
  }

  .imgContainer {
    max-width: 20%;
    max-height: 20%;
    margin: .3em .7em 0em 0em;
    float: left;
    border-color: white;
    border: solid;
  }

  .rightImage {
    margin: .3em 0em 0em .3em;
    float: right;
    clear: right;
  }

  .article-body, .article-body p {
    overflow: hidden;
    position: relative;
  }
}
