.site-header {
  padding: .1em;
}

.main-nav, #filters {
  padding: 0;
  list-style: none;
  text-align-last: center;
}

.links {
  display: inline-block;
  clear: both;
}

.main-nav li {
  margin-top: 2%;
  text-align: center;
}

.main-nav li, #filters li {
  font-size: 1.5em;
  padding: 1% 3%;
  list-style: none;
}

.imgContainer {
  max-width: 100%;
  clear: both;
  margin-bottom: 4%;
}

.imgContainer img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

.template {
  display: none;
}

.byline, .read-on {
  color: rgb(253, 247, 200);
}

.byline a {
  font-weight: bold;
  text-decoration: none;
}
