.site-header {
  padding: .1em;
}

.main-nav, #filters {
  padding: 0;
  list-style: none;
  clear: both;
  text-align-last: center;
  text-align: justify;
}

.main-nav li, #filters li {
  font-size: 1.5em;
  padding: 1% 3%;
  display: inline-block;
}

.article-body, .article-body p {
  overflow: hidden;
  position: relative;
}

.imgContainer {
  max-width: 20%;
  max-height: 20%;
  margin: .3em .7em 0em 0em;
  float: left;
  border-color: white;
  border: solid;
}

.imgContainer:nth-of-type(2n+2) { /* DOESN'T WORK ENTIRELY */
  margin: .3em 0em 0em .7em;
  float: right;
  clear: right;
}

p .imgContainer:not(:first-child) { /* DOESN'T WORK */
  display: none;
}

.imgContainer img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

.template {
  display: none;
}

.byline, .read-on {
  color: rgb(253, 247, 200);
}

.byline a {
  font-weight: bold;
  text-decoration: none;
}
